.corpo_cotacao {
    max-height:100%;
    overflow: hidden;
    overflow-y: auto;
}

.body_proposta_formalizada {
    background-color: #eff0f5;
    max-height:100vh;
    overflow: hidden;
    overflow-y: auto;

}

.body_proposta_formalizada_sub {
    background-color: white !important;
}

.class_corpo_cotacao_formalizada {
    margin-left: 10% !important;
    margin-right: 11% !important;
    max-height: max-content !important;
    background-color: white !important;
    padding: 0px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    border-radius: 4px !important;
    margin-bottom: 24px !important;

}

.class_dados_cliente_cotacao {
    align-items: center !important;
    padding-bottom: 12px !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
}

.class_titulo_cliente_proposta {
    text-transform: uppercase;
    color: #031956 !important;
    caret-color: #031956 !important;
    font-weight: bold;
}

.class_texto_cliente_proposta {
    color: #182958 !important;
    caret-color: #182958 !important;
    font-family: "Overpass" !important;
    font-weight: bold !important;
    padding-right: 20px !important;
    font-size: 1.5rem;
}

.class_proposta_vatos {
    color: #031956 !important;
    caret-color: #031956 !important;
    text-align: left;
    font: normal normal normal 16px / 21px;
    letter-spacing: 0px;
}

.class_texto_proposta_vatos {
    text-align: left;
    font: normal normal bold 16px / 21px Dosis;
    letter-spacing: 0px;
    color: #182958;
    font-weight: bold;
    margin-right: 3px !important;
}

.class_vatos_data_embarque {
    text-decoration: underline !important;
    font-size: 0.8rem;
    margin-right: 3px;
}

.class_imprimir {
    text-align: end !important;
    align-self: center !important;
    display: initial;    
}

.class_botao_imprimir {
    font-size: 40px;
    color: red;
    cursor: pointer;
    outline: none;

    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
    vertical-align: middle;
    user-select: none;

    background-color: transparent;
    border-style: none;
    text-transform: none;
    overflow: visible;
}

/* Classes CSS Rota */

.class_rota {
    background-color: #182958 !important;
    border-color: #182958 !important;

    padding-top: 20px !important;
    padding-bottom: 20px !important;

    padding-right: 40px !important;
    padding-left: 40px !important;
}

.class_espaco_minha_rota {
    padding-bottom: 20px !important;
}

.class_rota_titulo {
    text-align: left;
    font: normal normal bold 20px / 27px Overpass;
    letter-spacing: 0px;
    color: #182958;
    opacity: 1;
    font-size: 1rem;
}

.class_bloco_texto_rota {
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}

.class_rota_bloco_origem {
    width: 80%;
}

.class_texto_rota_bloco_origem {
    color: #51b297 !important;
    caret-color: #51b297 !important;
    margin-bottom: 8px !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.class_texto_bloc_origem {
    position: relative;
}

.class_texto_origem {
    color: #ffffff !important;
    caret-color: #ffffff !important;
    font-family: "Overpass" !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.class_rota_bloco_porto_embarque {
    width: 80%;
}

.class_texto_rota_bloco_porto_embarque {
    color: #51b297 !important;
    caret-color: #51b297 !important;
    margin-bottom: 8px !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.class_texto_bloc_porto_embarque {
    position: relative;
}

.class_texto_porto_embarque {
    color: #ffffff !important;
    caret-color: #ffffff !important;
    font-family: "Overpass" !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-size: 1.5rem;
}

.class_rota_bloco_porto_descarga {
    width: 80%;
}

.class_texto_rota_bloco_porto_descarga {
    color: #51b297 !important;
    caret-color: #51b297 !important;
    margin-bottom: 8px !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.class_texto_bloc_porto_descarga {
    position: relative;
}

.class_texto_porto_descarga {
    color: #ffffff !important;
    caret-color: #ffffff !important;
    font-family: "Overpass" !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-size: 1.5rem;
}

.class_rota_bloco_destino {
    width: 80%;
}

.class_texto_rota_bloco_destino {
    color: #51b297 !important;
    caret-color: #51b297 !important;
    margin-bottom: 8px !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.class_texto_bloc_destino {
    position: relative;
}

.class_texto_destino {
    color: #ffffff !important;
    caret-color: #ffffff !important;
    font-family: "Overpass" !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-size: 1.5rem;
    font-weight: bold;
}


.class_espacador_rota {
    width: 80%;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    align-items: center !important;
    justify-content: flex-start !important;
    display: flex !important;
    position: relative;
    height: 100%;
}




.class_espacador_rota_1 {
    font-size: 0.55rem;
    color: #ff1321 !important;
    caret-color: #ff1321 !important;

    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
    vertical-align: middle;

    user-select: none;

    padding-left: 12px !important;

    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}

/* Bloco Minha Rota */

.class_dados_minha_rota {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    padding-top: 16px !important;
    display: flex !important    
}

.class_sub_bloco_minha_rota_1 {
    width: 80%;
}

.class_sub_bloco_minha_rota_2 {
    margin-top: 24px !important;
    width: 20%;
}


.class_titulo_dados_minha_rota {
    font-size: 20px;
    color: #182958 !important;
    caret-color: #182958 !important;
    padding-bottom: 32px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    font-weight: 700 !important;
    text-transform: "uppercase";
}

.class_rota_detalhada {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5;
    max-width: 100%;
    border-radius: 4px;
    display: block;
    unicode-bidi: isolate;
}

.class_rota_detalhada_1 {
    overflow-x: auto;
    overflow-y: hidden;

    display: block;
    unicode-bidi: isolate;
}

.th_rota_detalhada {
    padding-left: 40px !important;
    height: 32px;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    border: none !important;
    pointer-events: auto;
    cursor: pointer;
    outline: 0;
    text-align: start !important;
    border-spacing: 0;
    color: #182958 !important;
    caret-color: #182958 !important;

}

.td_rota_detalhada {
    height: 32px;
    font-size: 0.875rem;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    padding-left: 40px !important;
    text-align: start !important;
    border: none !important;
    font-weight: bold;
}

.separador_dados_rota {
    background-color: #031956 !important;
    border-color: #031956 !important;
    margin-top: 4px !important;
    display: block;
    max-width: 100%;
    height: 0px;
    max-height: 0px;
    border: solid;
    border-width: thin 0 0 0;
    transition: inherit;
    overflow: visible;
    color: rgba(0, 0, 0, 0.87);
}

.class_transito_estimado {
    padding-top: 24px !important;
    padding-bottom: 24px !important;

    padding-right: 40px !important;
    padding-left: 40px !important;

    display: flex !important;

    width: 80%;

}

.class_transito_estimado_1 {
    font-size: 0.75rem;
    padding: 0;
    color: #031956 !important;
    caret-color: #031956 !important;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
    display: block;
}

.class_span_transito_estimado {
    font-weight: 700 !important;
    font-size: 0.8rem;
}

.class_span_qtde_dias_estimado {
    text-decoration: underline !important;

    font-size: 0.8rem;

    color: #031956 !important;
    caret-color: #031956 !important;

    margin-right: 3px;
}

.class_detalhes_minha_carga {
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;

    padding-right: 40px !important;
    padding-left: 40px !important;

    margin-bottom: 40px !important;

    display: block;
    unicode-bidi: isolate;
}

.class_detalhes_minha_carga_1 {
    color: #51b297 !important;
    caret-color: #51b297 !important;
    padding-top: 40px !important;

    margin-bottom: 20px !important;

    border-top: 2px solid #51b297 !important;
    display: block;
    unicode-bidi: isolate;
}

.class_detalhes_minha_carga_2 {
    color: #031956 !important;
    caret-color: #031956 !important;

    font-weight: 700 !important;

    display: block;
    unicode-bidi: isolate;
}

.class_detalhes_minha_carga_3 {
    flex-direction: column !important;
    display: flex !important;
    unicode-bidi: isolate;
}

.class_detalhes_minha_carga_4 {
    color: #031956 !important;
    caret-color: #031956 !important;
    font-size: 0.8rem;
}

.class_detalhes_minha_carga_5 {
    display: flex !important;
}

.class_detalhes_minha_carga_6 {
    color: #031956 !important;
    caret-color: #031956 !important;
    margin-right: 16px !important;
    font-weight: 700 !important;
    font-size: 1.5rem;
    display: block;
    unicode-bidi: isolate;
}

.class_dados_carga {
    padding-bottom: 20px !important;
    padding-top: 40px !important;
    justify-content: space-between !important;
    display: flex !important;
    line-height: 1.5;
}

.class_dados_carga_1 {
    color: #777777 !important;
    caret-color: #777777 !important;
    font-weight: 700 !important;
    font-size: 0.8rem;
    display: block;
    unicode-bidi: isolate;
}

.class_dados_carga_2 {
    font-size: 1.2rem;
    color: #777777 !important;
    caret-color: #777777 !important;
    text-align: center !important;
    font-weight: 700 !important;
    display: block;
    unicode-bidi: isolate;
}

.class_dados_carga_3 {
    border-width: 1px;
    background-color: #031956 !important;
    border-color: #031956 !important;

    align-self: stretch;
    border: solid;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0px;
    width: 0px;
    vertical-align: text-bottom;
    margin: 0 -1px;
    flex: 1 1 0px;
    transition: inherit;

    overflow: visible;

    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
}

.class_dados_carga_4 {
    margin-top: 20px !important;
    border-bottom: 2px solid #51b297;
    display: block;
    unicode-bidi: isolate;
}

.separador_dados_carga {
    border-top: 2px dashed red;
    margin-top: 40px !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
    display: block;
    unicode-bidi: isolate;
}

.bloco_total_proposta {
    padding-bottom: 40px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    margin-left: 20px !important;
    display: block;
    unicode-bidi: isolate;
}

.bloco_total_proposta_1 {
    padding-top: 40px !important;
    display: block;
    unicode-bidi: isolate;
}

.bloco_total_proposta_2 {
    font-size: 1.3rem;
    color: #031956 !important;
    caret-color: #031956 !important;
    font-weight: 700 !important;
    display: block;
    unicode-bidi: isolate;
}

.bloco_total_proposta_3 {
    align-items: flex-start !important;
    flex-direction: column !important;
    display: flex !important;
}

.bloco_total_proposta_4 {
    align-items: center !important;
    display: flex !important;

}

.bloco_total_proposta_5 {
    font-size: 1.2rem;
    display: flex !important;
    color: #777777 !important;
    caret-color: #777777 !important;
    margin-right: 8px !important;
    align-items: center !important;
    display: flex !important;
    font-weight: 700 !important;    
}

.bloco_total_proposta_6 {
    font-size: 1.2rem;
    color: #777777 !important;
    caret-color: #777777 !important;
    margin-right: 8px !important;
    align-items: center !important;
    display: flex !important;
    font-weight: 700 !important;
}

.bloco_total_proposta_7 {
    font-size: 1.2rem;
    margin-right: 8px !important;
    color: #777777 !important;
    caret-color: #777777 !important;
    font-weight: 700 !important;
}

/* CSS Taxas */

.dados_taxas {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    padding: 0px !important;
    margin: 0px !important;

    flex: 1 0 100%;
    max-width: 100%;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    cursor: auto;
}

.button_expansivel {
    text-align: left;
    min-height: 64px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    display: flex !important;

    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    font-size: 0.9375rem;
    line-height: 1;
    outline: none;
    position: relative;
    transition: 0.3s min-height cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;

    cursor: pointer;
    color: inherit;

    background-color: transparent;
    border-style: none;

    text-transform: none;
    overflow: visible;
}


.texto_expansivel {
    text-align: left;
    min-height: 64px;
    padding-bottom: 40px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    display: flex !important;

    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    font-size: 0.9375rem;
    line-height: 1;
    outline: none;
    position: relative;
    transition: 0.3s min-height cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;

    color: inherit;

    background-color: transparent;
    border-style: none;

    text-transform: none;
    overflow: visible;
}


.titulo_button_expansivel {
    color: #182958 !important;
    caret-color: #182958 !important;
    font-weight: 700 !important;
    font-size: 2rem;
    display: block;
    unicode-bidi: isolate;
}

.titulo_button_expansivel_pickup_door_delivery {
    color: #182958 !important;
    caret-color: #182958 !important;
    font-weight: 700 !important;
    display: block;
    unicode-bidi: isolate;
}

.sub_titulo_button_expansivel {
    color: #182958 !important;
    caret-color: #182958 !important;
    margin-top: 8px !important;

}

.texto_sub_titulo_expansivel {
    color: #031956 !important;
    caret-color: #031956 !important;

    display: flex !important;
    font-weight: 700 !important;
}

.texto_sub_titulo_expansivel_2 {
    padding-left: 4px !important;
    display: flex !important;
    font-weight: 700 !important;

    color: #031956 !important;
    caret-color: #031956 !important;

    text-align: left;
}

.texto_sub_titulo_expansivel_3 {
    align-items: center !important;
    display: flex !important;
    text-align: left;
}

.texto_sub_titulo_expansivel_4 {
    padding-right: 4px !important;
    align-items: center !important;
    display: flex !important;

}

.icone_botao_expansivel {
    cursor: pointer;
    margin-left: auto;
    display: inline-flex;
    margin-bottom: -4px;
    margin-top: -4px;
}

.conteudo_taxas {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 60px !important;
    line-height: 1.5;
    max-width: 100%;
    border-radius: 4px;
}

.conteudo_taxas_table {
    overflow-x: auto;
    overflow-y: hidden;
}

.th_personalizada {
    padding-left: 40px !important;
    height: 32px;
    font-size: 14pt;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    border: none !important;
    pointer-events: auto;
    cursor: pointer;
    outline: 0;
    text-align: start !important;
    border-spacing: 0;
    color: #182958 !important;
    caret-color: #182958 !important;

}

.td_personalizada {
    height: 32px;
    font-size: 14pt;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    padding-left: 40px !important;
    text-align: start !important;
    border: none !important;
    font-weight: bold;
}

.th_personalizada_navio {
    padding-left: 40px !important;
    height: 32px;
    font-size: 12pt;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    border: none !important;
    pointer-events: auto;
    cursor: pointer;
    outline: 0;
    text-align: start !important;
    border-spacing: 0;
    color: #182958 !important;
    caret-color: #182958 !important;

}
.td_personalizada_navio_alternado_1{
    margin-left: 20% !important;
    height: 32px;
    font-size: 14pt;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    padding-left: 40px !important;
    text-align: start !important;
    border: none !important;
    font-weight: bold;
    color: #777777;
    background-color: #f0f0f0 !important;
}
.td_personalizada_navio_alternado_2{
    margin-left: 20% !important;
    height: 32px;
    font-size: 14pt;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    padding-left: 40px !important;
    text-align: start !important;
    border: none !important;
    font-weight: bold;
    color: #777777;
    background-color: #fff !important;
}


.link_acesso_info {
    margin-left: 3px;
}


.texto_sub_titulo_expansivel_descricao {
    color: #777777 !important;
    caret-color: #777777 !important;

    display: flex !important;
    font-weight: 700 !important;
}

.texto_sub_titulo_expansivel_descricao_2 {
    padding-left: 4px !important;
    display: flex !important;
    font-weight: 700 !important;

    color: #777777 !important;
    caret-color: #777777 !important;

    text-align: left;
}

.texto_sub_titulo_expansivel_descricao_3 {
    align-items: center !important;
    display: block !important;
    text-align: left;
}
 
.texto_sub_titulo_expansivel_descricao_sem_negrito_4 {
    padding-right: 4px !important;
    color: #777777 !important;
    font-weight: lighter !important;
    caret-color: #777777 !important;
    align-items: center !important;
    display: block !important;

}

.observacao_condicoes_proposta {
    display: inline-flex !important;
    width: 95% !important;
    text-align: left !important;
}

.alinhamento_titulo_condicoes {
    width: 100% !important;
}

.alinhamento_titulo_taxas {
    width: 100% !important;
}

.class_detalhes_coleta {
    background-color: #f5f5f5;
    border-color: #ffffff !important;
    padding-top: 16px !important;
    display: flex !important

}

.class_sub_bloco_detalhes_coleta_1 {
    width: 80%;
}

.class_sub_bloco_detalhes_coleta_2 {
    margin-top: 24px !important;
    width: 20%;
}

.class_titulo_detalhes_coleta {
    font-size: 20px;
    color: #182958 !important;
    caret-color: #182958 !important;
    padding-bottom: 32px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    font-weight: 700 !important;
    text-transform: "uppercase";
}

.class_total_proposta {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    padding-top: 16px !important;
    display: flex !important
}

.class_total_proposta_1 {
    width: 80%;
}

.class_sub_bloco_total_proposta_2 {
    margin-top: 24px !important;
    width: 20%;
}

.class_titulo_total_proposta {
    font-size: 20px;
    color: #182958 !important;
    caret-color: #182958 !important;
    padding-bottom: 32px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    font-weight: 700 !important;
    text-transform: "uppercase";
}

/*********************************************************/

.class_dados_coleta {
    background-color: #f5f5f5 !important;
    border-color: #ffffff !important;
    padding-top: 16px !important;
    display: flex !important
}

.class_dados_coleta_1 {
    width: 90%;
}

.class_sub_bloco_dados_coleta_2 {
    margin-top: 24px !important;
    width: 20%;
}

.titulo_detalhes_coleta_formatacao {
    padding-bottom: 32px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    display: inline-flex !important;
    width: 95% !important;
    text-align: left !important;
}

.titulo_button_expansivel_detalhes_coleta {
    color: #182958 !important;
    caret-color: #182958 !important;
    font-weight: 700 !important;
    font-size: 1.5rem;
    display: block;
    unicode-bidi: isolate;
}

.class_tabela_coleta {
    margin-left: 40px;
}

.th_detalhes_coleta {
    padding-left: 40px !important;
    height: 32px;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    pointer-events: auto;
    cursor: pointer;
    outline: 0;
    text-align: start !important;
    border-spacing: 0;
    color: #51b297 !important;
    caret-color: #51b297 !important;
    border-bottom: solid #51b297;
}

.td_detalhes_coleta {
    height: 32px;
    font-size: 0.875rem;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    padding-left: 40px !important;
    text-align: start !important;
    border: none !important;
    font-weight: bold;
}
